#banner {
    background-color: #4ca3af;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 24px;
    font-weight: bold;
  }
  .card {
    width: 300px;
    background-color: white;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    border-radius: 5px;
    overflow: hidden;
    margin: 20px auto;
  }
  
  
  .card-content {
    padding: 10px;
  }
  
  .card-title {
    font-size: 24px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 10px;
  }
  
  .card-text {
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 10px;
  }
  
  .card-button {
    display: block;
    background-color: #4ca3af;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
  }
    